@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap");

/* Main text is monserrat*/
body {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 5px;
  line-height: 1;
  color: #555;
}

/* Give headers playfair font */
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
},
h2 {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
},
h3 {
  font-family: "Arial", sans-serif;
  font-weight: 1000;
  color: #000;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.details h3{
  font-size: 0.8rem;
  font-weight: normal
}

/* When in PDF export mode make sure superscripts are nice and small and italic */
sup {
  font-size: 0.45rem;
  font-style: italic;
}

/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

* {
  /* Override default right margin for sidebar*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.8in !important;
  --pagedjs-margin-bottom: 0.5in !important;
}


/* Adjust the bullet point */
#main ul {
  padding-top: 0rem;
  margin: 0 0 0 0;
}

#main li {
  padding-top: 0rem;
  margin: 0 0 0 0;
}

/* Customize some of the sizing variables */
:root {
  --sidebar-width: 10rem; /* Shrink sidebar width  */
  --sidebar-background-color: #f7fbff; /* Make sidebar blue */
  --sidebar-horizontal-padding: 0in; /* Reduce sidebar padding */
  --decorator-outer-dim: 10px; /* Make position deliniating circles larger */
  --decorator-border: 2px solid #bdd7e7; /* Make timeline a blue as well*/
}




.details .place {
  margin-top: 0px;
}

.main-block:not(.concise) .details div {
  padding-top: 0px;
}

/* Laptop icon isn't centered by default which is lame */
.fa-laptop {
  margin-left: -5px;
}

/* When we have links at bottom in a list make sure they actually are numbered */
#links li {
  list-style-type: decimal;
}

.date{
  padding-top: calc(var(--row-blocks-padding-top) + 0rem) !important;
  padding-right: calc(var(--decorator-horizontal-margin) + 2rem);
  font-size: 0.8rem;
  text-align: left;
  line-height: 1;
  max-width: var(--date-block-width);
}


.date span{
  display: block;
  text-align: left;
  width: 80px;
}

.date span:nth-child(2)::before{
  position: relative;
  top: 0rem;
  right: 0;
  display: block;
  height: 1rem;
  content: '|';
}



/* Dont put the little fake list point in front of links */
.aside li::before {
  display: none;
}

/* Move closer to start and up towards header */
.aside ul {
  padding-left: -1rem;
}

.aside li::before {
  position: relative;
  margin-left: -4.25pt;
  content: "• ";
}

/* Make sure elements in asside are centered and have a nice small text */
.aside {
  width: calc(var(--sidebar-width) + 9px);
  text-align: left;
  line-height: 2;
  font-size: 0.7rem;
}

/* Make little circle outline be a light blue */
.decorator::after {
  background-color: #08306b;
}

/* Remove the fake bullets from lists */
.aside li::before {
  content: auto;
}

.skill-bar {
  color: white;
  padding: 0.1rem 0.25rem;
  margin-top: 3px;
  position: relative;
  width: 100%;
}